.about-page {
  background-image: url("../LandingPage/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans";
  justify-content: center;
  /* align-items: center; */
}

.freq-questions {
  margin-left: 100px;
  padding-top: 50px;
}

.opening {
  font-family: "Lucida Sans";
  margin-left: 100px;
  margin-right: 100px;
  /* color: #3a2936; */
  font-weight: 700;
  line-height: 20px;
  background-color: white;
  border: 2px outset #e5d8bb;
  border-radius: 5px;
  padding: 10px;

  justify-content: center;
  align-items: center;
  align-content: center;
}

.question-one {
  margin-left: 100px;
  margin-right: 100px;
}
.question-two {
  margin-left: 100px;
  margin-right: 100px;
}
.question-three {
  margin-left: 100px;
  margin-right: 100px;
}
.question-four {
  margin-left: 100px;
  margin-right: 100px;
}
.question-five {
  margin-left: 100px;
  margin-right: 100px;
}
.question-six {
  margin-left: 100px;
  margin-right: 100px;
}
