.about-page {
  background-image: url("../LandingPage/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans";
  justify-content: center;
  /* align-items: center; */
}

.opening {
  font-family: "Lucida Sans";
  padding: 100px;
  color: #3a2936;
  font-weight: 700;
  line-height: 20px;
  /* background-color: #3a2936; */

  justify-content: center;
  align-items: center;
  align-content: center;
}

.Question-one {
  margin-left: 20px;
}
.Question-two {
}
.Question-three {
}
.Question-four {
}
.Question-five {
}
.question-six {
}
