.all-records {
  background: whitesmoke;
  font-family: "Lucida Sans";
  /* padding: 30px; */
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  /* height: 100 */
  padding-bottom: 10vh;
  align-items: space-between;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a2936;
  border-radius: 4px;
  padding-right: 5px;
  font-size: 16px;
  /* margin-left: 30px; */
  /* padding-right: 10px; */
}

.nav-button {
  /* display: grid; */
  /* margin-top: 50px; */
}

.update-box {
  align-items: center;
  margin-left: 50px;
}

.screening-date-update-page {
  margin: 5px;
}

.waist-circumference {
  margin: 5px;
}

.cholesterol {
  margin: 5px;
}

.triglyceride {
  margin: 5px;
}

.blood-pressure-sys {
  margin: 5px;
}

.blood-pressure-dia {
  margin: 5px;
}

.blood-sugar {
  margin: 5px;
}

.screening-date-delete {
  margin: 5px;
}
