.landing-page {
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  /* padding: 100px; */
  color: black;
}

.link-wrap {
  margin-top: 100px;
}

.welcome {
  font-style: oblique;
  font-size: 25px;
}

.bold-statement {
  font-family: Verdana bold;
  font-size: 90px;
  font-weight: 700;
  margin-top: 50px;
}

.info-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  font-family: Verdana bold;
  height: 50vh;
  color: white;
  outline-color: black;
  font-weight: 500;
  /* text-shadow: 2px 2px #3a2936; */
}

.box-one {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  border: solid #515b5a 2px;
  border-radius: 5px;

  width: 33%;
  background-color: #3a2936;
  padding: 20px;
  margin-bottom: 120px;

  font: white;
}

.box-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border: solid #515b5a 2px;
  border-radius: 5px;
  padding: 5px;
  width: 33%;
  background-color: #3a2936;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
  font: white;
}

.box-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: solid #515b5a 2px;
  border-radius: 5px;
  padding: 5px;
  width: 33%;
  background-color: #3a2936;
  padding: 20px;
  margin-top: 120px;

  font: transparent;
}

.text-one {
  font-size: 25px;
}

.text-two {
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
}
