.registration-page {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  font-family: "Lucida Sans";
  /* grid-template-columns: auto; */
  /* padding-top: 5%; */

  /* padding-top: 50px; */
}

.data-box {
  align-items: center;
}

.gender-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.screen-row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #3a2936;
  border-radius: 4px;
  padding-left: 5px;
  align-items: center;
}
.screen-row input {
  width: 169px;
  align-items: center;
}

.screening-date-box {
  margin: 5px;
}

.waist-circumference-box {
  margin: 5px;
}

.triglycerides-box {
  margin: 5px;
}

.cholesterol-box {
  margin: 5px;
}

.systolic-box {
  margin: 5px;
}

.diastolic-box {
  margin: 5px;
}

.sugar-box {
  margin: 5px;
}

.save-button {
  align-items: right;
  justify-content: right;
  /* margin-left: 50%; */
}

.input-box {
  padding-right: 5px;
}
