body {
  background: white;
}

.registration-page {
  display: grid;
  background: linear-gradient(to top, #174666, #dfddd5);
  font-family: "Lucida Sans";
  grid-template-columns: auto;
  padding-top: 5%;
}
