.delete-page {
  padding: 100px;
  color: red;
}

.delete-box {
  display: flex;
}

.box {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  border: solid #515b5a 2px;
  border-radius: 5px;
}
